/* Status bar background */
window#waybar {
  background-color: alpha(@background, 0.8);
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button {
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 0 transparent;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 0 transparent;
}

/* Modules Center */
#workspaces button {
  font-size: 20px;
  min-width: 0;
  min-height: 0;
  padding: 0;
  padding-left: 7px;
  margin: 0 2px;
  color: @color6;
  transition-property: color;
  transition-duration: 0.5s;
}

#workspaces button:hover {
  box-shadow: inset 0 -4px @color6;
  transition-property: box-shadow;
}

#workspaces button.visible {
  color: @foreground;
}

#workspaces button.active {
  color: @foreground;
  box-shadow: inset 0 -4px @foreground;
  transition-property: box-shadow, color;
  transition-duration: 0.7s;
}

#workspaces button.empty {
  box-shadow: inset 0 0 transparent;
  font-size: 0;
  padding: 0;
  margin: 0;
}

#workspaces button.urgent {
  color: @color11;
}

/* Modules Left */
#idle_inhibitor,
#custom-power,
#custom-vpn,
#custom-app-launcher,
#custom-wallpaper-launcher {
  background-color: @background;
  margin: 0 5px;
  padding: 0 10px;
  border: 2px solid;
  border-radius: 10px;
}

#custom-power {
  font-size: 14px;
  margin-left: 50px;
  color: @color1;
  min-width: 30px;
  padding-left: 6px;
}

#custom-app-launcher {
  font-size: 17px;
  color: @color3;
  min-width: 34px;
  padding-left: 6px;
}

#custom-wallpaper-launcher {
  font-size: 14px;
  color: @color5;
  min-width: 34px;
  padding-left: 6px;
}

#custom-vpn {
  font-size: 17px;
  color: @color7;
  min-width: 34px;
  padding-left: 4px;
}

#idle_inhibitor {
  font-size: 14px;
  color: @color9;
  min-width: 38px;
  padding-left: 2px;
}

/* Modules Right */
#pulseaudio,
#group-clock {
  font-size: 14px;
  background-color: @background;
  margin: 0 5px;
  padding: 0 10px;
  border: 2px solid;
  border-radius: 10px;
}

#pulseaudio {
  color: @color11;
  min-width: 70px;
}

#group-clock {
  color: @color13;
  margin-right: 50px;
}
#clock.calendar {
  margin-left: 5px;
  padding-right: 4px;
}
